In [12]:
from subprocess import check_output
print(check_output(["ls", "./data"]).decode("utf8"))

members.csv
sample_submission.csv
song_extra_info.csv
songs.csv
test.csv
train.csv

In [23]:
import numpy as np
import collections

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load data

In [52]:
date_columns = ['expiration_date', 'registration_init_time']

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
songs = pd.read_csv('data/songs.csv')
members = pd.read_csv('data/members.csv', parse_dates=date_columns)
song_extra_info = pd.read_csv('data/song_extra_info.csv')

# Merge data

In [16]:
all_data = pd.concat([train, test], sort=True)

all_data = all_data.merge(songs, on='song_id', how='left')
all_data = all_data.merge(members, on='msno', how='left')

# Replace NA

In [45]:
enc = LabelEncoder()

for col in [
    'msno', 'song_id', 'source_screen_name',
    'source_system_tab', 'source_type', 'genre_ids',
    'artist_name', 'composer', 'lyricist', 'gender'
]:
    all_data[col] = enc.fit_transform(all_data[col].fillna('nan'))

In [54]:
for col in ['language', 'city', 'registered_via']:
    all_data[col] = enc.fit_transform(all_data[col].fillna(-2))

# Split Data

In [59]:
n = len(train)
train_data = all_data[:n]
test_data = all_data[n:]

# Replace age outlier

In [73]:
members_filtered = members[(members['bd'] > 0) & (
    members['bd'] < 100)]    # drop age<0 and age>100

bd_mean = np.mean(members_filtered['bd'])

In [74]:
train_data.loc[(train_data['bd'] <= 0) | (
    train_data['bd'] > 100), 'bd'] = bd_mean

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [70]:
train_data.bd.describe()

count    7.377418e+06
mean     2.879205e+01
std      6.691515e+00
min      2.000000e+00
25%      2.600000e+01
50%      2.889735e+01
75%      2.900000e+01
max      9.500000e+01
Name: bd, dtype: float64

In [71]:
train_data

,id,msno,song_id,source_screen_name,source_system_tab,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,NaN,9176.0,86884.0,7.0,1.0,7.0,1.0,206471.0,307.0,3784.0,16653.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2012-01-02 00:00:00,2017-10-05 00:00:00
1,NaN,19273.0,260594.0,8.0,3.0,4.0,1.0,284584.0,97.0,36867.0,74276.0,26024.0,9.0,11.0,24.000000,0.0,3.0,2011-05-25 00:00:00,2017-09-11 00:00:00
2,NaN,19273.0,140755.0,8.0,3.0,4.0,1.0,225396.0,97.0,24601.0,51540.0,26024.0,9.0,11.0,24.000000,0.0,3.0,2011-05-25 00:00:00,2017-09-11 00:00:00
3,NaN,19273.0,27577.0,8.0,3.0,4.0,1.0,255512.0,6.0,31651.0,41991.0,26024.0,1.0,11.0,24.000000,0.0,3.0,2011-05-25 00:00:00,2017-09-11 00:00:00
4,NaN,9176.0,38706.0,7.0,1.0,7.0,1.0,187802.0,2.0,5190.0,9701.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2012-01-02 00:00:00,2017-10-05 00:00:00
5,NaN,9176.0,35087.0,7.0,1.0,7.0,1.0,247803.0,97.0,9452.0,63673.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2012-01-02 00:00:00,2017-10-05 00:00:00
6,NaN,19273.0,221459.0,8.0,3.0,4.0,1.0,229982.0,371.0,3348.0,66331.0,22941.0,6.0,11.0,24.000000,0.0,3.0,2011-05-25 00:00:00,2017-09-11 00:00:00
7,NaN,9176.0,258674.0,7.0,1.0,7.0,1.0,181115.0,2.0,35342.0,67760.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2012-01-02 00:00:00,2017-10-05 00:00:00
8,NaN,31394.0,10642.0,8.0,3.0,3.0,1.0,278964.0,200.0,25767.0,60384.0,26024.0,9.0,13.0,26.000000,1.0,3.0,2011-11-07 00:00:00,2018-03-04 00:00:00
9,NaN,31394.0,109197.0,8.0,3.0,3.0,1.0,257369.0,371.0,25767.0,60384.0,26024.0,9.0,13.0,26.000000,1.0,3.0,2011-11-07 00:00:00,2018-03-04 00:00:00
10,NaN,31394.0,374350.0,8.0,3.0,3.0,1.0,223933.0,371.0,20494.0,44253.0,26024.0,9.0,13.0,26.000000,1.0,3.0,2011-11-07 00:00:00,2018-03-04 00:00:00
11,NaN,31394.0,67635.0,8.0,3.0,3.0,1.0,224597.0,371.0,40935.0,76992.0,28647.0,2.0,13.0,26.000000,1.0,3.0,2011-11-07 00:00:00,2018-03-04 00:00:00
12,NaN,16688.0,381541.0,22.0,3.0,11.0,0.0,280084.0,371.0,42633.0,79915.0,31808.0,2.0,0.0,28.897349,2.0,3.0,2015-08-06 00:00:00,2017-09-30 00:00:00
13,NaN,2971.0,207136.0,8.0,3.0,3.0,1.0,253492.0,364.0,40825.0,76813.0,28438.0,2.0,3.0,28.897349,2.0,3.0,2011-02-21 00:00:00,2017-09-22 00:00:00
14,NaN,16688.0,136095.0,8.0,3.0,4.0,1.0,210364.0,409.0,42633.0,31429.0,15297.0,2.0,0.0,28.897349,2.0,3.0,2015-08-06 00:00:00,2017-09-30 00:00:00
15,NaN,2971.0,54588.0,8.0,3.0,3.0,1.0,240624.0,371.0,36867.0,24606.0,11459.0,6.0,3.0,28.897349,2.0,3.0,2011-02-21 00:00:00,2017-09-22 00:00:00
16,NaN,16688.0,249840.0,9.0,3.0,4.0,1.0,248790.0,371.0,40753.0,76641.0,28272.0,2.0,0.0,28.897349,2.0,3.0,2015-08-06 00:00:00,2017-09-30 00:00:00
17,NaN,16688.0,375253.0,9.0,3.0,4.0,1.0,259877.0,364.0,38818.0,70965.0,26024.0,2.0,0.0,28.897349,2.0,3.0,2015-08-06 00:00:00,2017-09-30 00:00:00
18,NaN,16688.0,43556.0,22.0,3.0,11.0,0.0,265743.0,371.0,42633.0,31429.0,24518.0,2.0,0.0,28.897349,2.0,3.0,2015-08-06 00:00:00,2017-09-30 00:00:00
19,NaN,31471.0,78917.0,8.0,3.0,3.0,1.0,241975.0,371.0,41280.0,43959.0,24946.0,2.0,7.0,27.000000,0.0,3.0,2013-09-12 00:00:00,2017-09-12 00:00:00
20,NaN,31471.0,222092.0,8.0,3.0,3.0,1.0,189846.0,364.0,45339.0,64674.0,26024.0,2.0,7.0,27.000000,0.0,3.0,2013-09-12 00:00:00,2017-09-12 00:00:00
21,NaN,31471.0,125090.0,8.0,3.0,3.0,1.0,247911.0,371.0,44215.0,64030.0,31368.0,2.0,7.0,27.000000,0.0,3.0,2013-09-12 00:00:00,2017-09-12 00:00:00
22,NaN,31471.0,327316.0,8.0,3.0,3.0,1.0,257671.0,371.0,40039.0,74276.0,26024.0,2.0,7.0,27.000000,0.0,3.0,2013-09-12 00:00:00,2017-09-12 00:00:00
23,NaN,28978.0,290374.0,11.0,3.0,7.0,1.0,183251.0,200.0,17284.0,36018.0,26024.0,9.0,13.0,18.000000,1.0,1.0,2015-12-20 00:00:00,2017-09-30 00:00:00
24,NaN,28978.0,335078.0,11.0,3.0,7.0,0.0,292060.0,200.0,17284.0,36031.0,26024.0,9.0,13.0,18.000000,1.0,1.0,2015-12-20 00:00:00,2017-09-30 00:00:00
25,NaN,28978.0,224978.0,11.0,3.0,7.0,0.0,131239.0,200.0,33519.0,36031.0,26024.0,9.0,13.0,18.000000,1.0,1.0,2015-12-20 00:00:00,2017-09-30 00:00:00
26,NaN,28978.0,205857.0,11.0,3.0,7.0,0.0,307200.0,371.0,27209.0,74276.0,26024.0,9.0,13.0,18.000000,1.0,1.0,2015-12-20 00:00:00,2017-09-30 00:00:00
27,NaN,18028.0,82407.0,8.0,3.0,3.0,1.0,213902.0,371.0,17973.0,38325.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2010-12-05 00:00:00,2018-01-04 00:00:00
28,NaN,18028.0,308961.0,8.0,3.0,3.0,1.0,271255.0,371.0,29342.0,76813.0,21658.0,2.0,0.0,28.897349,2.0,2.0,2010-12-05 00:00:00,2018-01-04 00:00:00
29,NaN,17286.0,94331.0,8.0,3.0,3.0,1.0,248581.0,608.0,45600.0,85096.0,36773.0,2.0,11.0,34.000000,1.0,3.0,2010-08-12 00:00:00,2017-09-12 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377388,NaN,25686.0,25441.0,8.0,3.0,3.0,0.0,275435.0,361.0,44576.0,73791.0,26024.0,2.0,13.0,27.000000,1.0,3.0,2014-12-24 00:00:00,2017-09-03 00:00:00
7377389,NaN,25686.0,205912.0,8.0,3.0,3.0,0.0,251712.0,364.0,41281.0,77478.0,34779.0,2.0,13.0,27.000000,1.0,3.0,2014-12-24 00:00:00,2017-09-03 00:00:00
7377390,NaN,30069.0,344414.0,8.0,3.0,4.0,0.0,302688.0,364.0,11228.0,21844.0,25016.0,2.0,13.0,21.000000,0.0,0.0,2012-12-26 00:00:00,2017-10-06 00:00:00
7377391,NaN,18520.0,258887.0,8.0,3.0,3.0,0.0,268434.0,364.0,40485.0,78571.0,34739.0,2.0,11.0,41.000000,1.0,2.0,2016-01-15 00:00:00,2017-09-14 00:00:00
7377392,NaN,8685.0,169977.0,0.0,7.0,0.0,0.0,291840.0,371.0,43514.0,74276.0,26024.0,3.0,4.0,23.000000,1.0,3.0,2008-11-29 00:00:00,2017-10-01 00:00:00
7377393,NaN,8685.0,409304.0,0.0,7.0,0.0,0.0,248999.0,371.0,43514.0,74276.0,26024.0,3.0,4.0,23.000000,1.0,3.0,2008-11-29 00:00:00,2017-10-01 00:00:00
7377394,NaN,27377.0,23433.0,8.0,3.0,3.0,0.0,225216.0,371.0,36867.0,27673.0,26024.0,6.0,13.0,22.000000,1.0,3.0,2011-03-06 00:00:00,2017-09-12 00:00:00
7377395,NaN,27377.0,110799.0,8.0,3.0,3.0,0.0,222249.0,364.0,44037.0,83277.0,30421.0,2.0,13.0,22.000000,1.0,3.0,2011-03-06 00:00:00,2017-09-12 00:00:00
7377396,NaN,27377.0,403174.0,8.0,3.0,3.0,0.0,306549.0,371.0,44458.0,74276.0,26024.0,2.0,13.0,22.000000,1.0,3.0,2011-03-06 00:00:00,2017-09-12 00:00:00
7377397,NaN,7234.0,389134.0,8.0,3.0,3.0,1.0,208375.0,371.0,41280.0,44181.0,25213.0,2.0,11.0,18.000000,1.0,3.0,2014-08-17 00:00:00,2017-09-09 00:00:00
7377398,NaN,15210.0,206830.0,8.0,3.0,4.0,0.0,209397.0,371.0,38818.0,84310.0,35971.0,2.0,13.0,27.000000,1.0,3.0,2005-07-03 00:00:00,2017-10-31 00:00:00
7377399,NaN,15210.0,190124.0,8.0,3.0,4.0,0.0,228101.0,371.0,38818.0,80352.0,30809.0,2.0,13.0,27.000000,1.0,3.0,2005-07-03 00:00:00,2017-10-31 00:00:00
7377400,NaN,15210.0,351631.0,8.0,3.0,4.0,0.0,311588.0,371.0,38818.0,75345.0,36593.0,2.0,13.0,27.000000,1.0,3.0,2005-07-03 00:00:00,2017-10-31 00:00:00
7377401,NaN,19109.0,198307.0,8.0,3.0,4.0,0.0,234289.0,371.0,41832.0,78634.0,30238.0,2.0,20.0,29.000000,0.0,0.0,2013-04-27 00:00:00,2017-10-03 00:00:00
7377402,NaN,7611.0,75180.0,22.0,0.0,10.0,0.0,166217.0,127.0,21408.0,74276.0,26024.0,9.0,20.0,37.000000,0.0,3.0,2006-03-02 00:00:00,2017-09-30 00:00:00
7377403,NaN,7611.0,339088.0,22.0,0.0,10.0,1.0,224862.0,127.0,18767.0,5320.0,26024.0,9.0,20.0,37.000000,0.0,3.0,2006-03-02 00:00:00,2017-09-30 00:00:00
7377404,NaN,7611.0,114094.0,22.0,0.0,10.0,0.0,185016.0,127.0,3433.0,74276.0,26024.0,9.0,20.0,37.000000,0.0,3.0,2006-03-02 00:00:00,2017-09-30 00:00:00
7377405,NaN,29431.0,398204.0,8.0,3.0,3.0,1.0,204521.0,307.0,36867.0,53111.0,26024.0,9.0,2.0,28.000000,0.0,3.0,2011-03-16 00:00:00,2017-09-30 00:00:00
7377406,NaN,30938.0,411978.0,11.0,1.0,7.0,0.0,198008.0,459.0,41371.0,74276.0,26024.0,1.0,0.0,28.897349,2.0,2.0,2014-01-12 00:00:00,2017-09-30 00:00:00
7377407,NaN,14486.0,19768.0,8.0,3.0,3.0,1.0,235206.0,364.0,778.0,1986.0,26024.0,2.0,0.0,28.897349,2.0,2.0,2013-12-04 00:00:00,2017-09-08 00:00:00
7377408,NaN,28540.0,114415.0,17.0,7.0,9.0,0.0,175449.0,548.0,36867.0,44190.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2010-10-14 00:00:00,2017-10-03 00:00:00
7377409,NaN,28540.0,353260.0,17.0,7.0,9.0,0.0,163375.0,548.0,36867.0,44190.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2010-10-14 00:00:00,2017-10-03 00:00:00
7377410,NaN,25176.0,247467.0,8.0,3.0,3.0,1.0,173685.0,371.0,22353.0,30692.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2017-01-05 00:00:00,2017-10-05 00:00:00
7377411,NaN,25176.0,386970.0,8.0,3.0,3.0,1.0,214459.0,371.0,22353.0,40282.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2017-01-05 00:00:00,2017-10-05 00:00:00
7377412,NaN,25176.0,17714.0,8.0,3.0,3.0,1.0,229784.0,371.0,22353.0,60412.0,26024.0,9.0,0.0,28.897349,2.0,2.0,2017-01-05 00:00:00,2017-10-05 00:00:00
7377413,NaN,4726.0,218734.0,8.0,3.0,4.0,1.0,267958.0,97.0,10154.0,4024.0,26024.0,9.0,2.0,26.000000,0.0,3.0,2004-12-18 00:00:00,2017-09-30 00:00:00
7377414,NaN,20402.0,413719.0,17.0,7.0,9.0,0.0,227404.0,371.0,27703.0,67549.0,23375.0,9.0,0.0,28.897349,2.0,2.0,2013-06-27 00:00:00,2017-10-06 00:00:00
7377415,NaN,20402.0,59992.0,17.0,7.0,9.0,1.0,258298.0,371.0,40284.0,77326.0,28941.0,2.0,0.0,28.897349,2.0,2.0,2013-06-27 00:00:00,2017-10-06 00:00:00
7377416,NaN,1371.0,119278.0,5.0,0.0,7.0,1.0,524146.0,235.0,5081.0,74276.0,26024.0,9.0,3.0,28.897349,2.0,3.0,2015-02-13 00:00:00,2017-09-18 00:00:00
7377417,NaN,1371.0,144048.0,5.0,0.0,7.0,1.0,254026.0,234.0,4482.0,58915.0,20482.0,9.0,3.0,28.897349,2.0,3.0,2015-02-13 00:00:00,2017-09-18 00:00:00